@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #f6f7f9;
}

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: theme('colors.dark.500');
  font-family: theme('fontFamily.poppins');
  background-color: var(--body-bg);
}

.mainwrapper {
  grid-column: 1/-1;
  height: calc(100svh - 128px);
  overflow-y: auto;

  @media (width > 540.01px) {
    grid-column: 3/-1;
    height: calc(100svh - 100px);
  }

  @media (width < 300px) {
    height: calc(100svh - 102px);
    padding: 10px;
  }
}

/* Global Styles */
.wrapper {
  container-name: wrapper;
  container-type: inline-size;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.img-container {
  position: relative;
}