.bg {
  z-index: 90;
  background-color: theme('colors.white');
  grid-column: 1/-1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
  height: 100px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

@media (max-width: 540px) {
  .header {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 40px;
    gap: 40px;
    font-size: 14px;
  }
}